@model Proyecto1.Models.Tiquete

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Tiquete</h1>

<h3>¿Está seguro de que desea borrar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parqueo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parqueo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaYHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaPorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaPorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaPorMediaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaPorMediaHora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
    </form>
</div>
