@model IEnumerable<Proyecto1.Models.Tiquete>

@{
    ViewData["Title"] = "Index";
}

<h1>Tiquetes</h1>

<p>
    <br />
    <a class="btn btn-success" asp-action="Create">Crear nuevo</a>
    <br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parqueo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifaPorHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifaPorMediaHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Parqueo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifaPorHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifaPorMediaHora)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
