@model IEnumerable<Proyecto1.Models.Parqueo>

@{
    ViewData["Title"] = "Index";
}

<h1>Parqueos</h1>

<p>
    <br />
    <a class="btn btn-success" asp-action="Create">Crear nuevo</a>
    <br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraApertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraCierrre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraCierrre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
